{
  "MsGraphTenantIdentifier": "<TenantIdentifier>",
  "MsGraphClientIdentifier": "<ClientIdentifier>",
  "MsGraphCertificateThumbprint": "<CertificateThumbPrint>",
  "AzureTenantIdentifier": "<AzureTenant>",
  "AzureClientIdentifier": "<AzureClient>",
  "AzureCertificateThumbprint": "<CertificateThumbPrint>",
  "DefaultUserIdentifier": "<DefaultUser>"
}