{
  "MsGraphTenantIdentifier": "<TenantIdentifier>",
  "MsGraphClientIdentifier": "<ClientIdentifier>",
  "MsGraphCertificateThumbprint": "<CertificateThumbPrint>",
  "AzureTenantIdentifier": "<AzureTenant>",
  "AzureClientIdentifier": "<AzureClient>",
  "AzureCertificateThumbprint": "<CertificateThumbPrint>",
  "DefaultUserIdentifier": "<DefaultUser>",
  "Username": "<admin-username>",
  "Password": "<admin-password>",
  "TokenEndpoint": "https://login.microsoftonline.com/<$MsGraphTenantIdentifier>/oauth2/v2.0/token",
  "ClientSecret": "<client-secret>",
  "GrantType": "password"
}
